<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BaiTap2_Anh_Viet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BaiTap2_Anh_Viet.Properties.Settings>
            <setting name="BaiTap2_Anh_Viet_AnhVietServiceProxy_AnhVietService"
                serializeAs="String">
                <value>http://localhost:65413/AnhVietService.asmx</value>
            </setting>
        </BaiTap2_Anh_Viet.Properties.Settings>
    </applicationSettings>
</configuration>