body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:170px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:204px;
  width:189px;
  height:170px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:170px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:204px;
  width:178px;
  height:170px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:170px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:204px;
  width:164px;
  height:170px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:397px;
  width:140px;
  height:40px;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:397px;
  width:140px;
  height:40px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:397px;
  width:140px;
  height:40px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:468px;
  width:140px;
  height:40px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:468px;
  width:140px;
  height:40px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:468px;
  width:140px;
  height:40px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:548px;
  width:91px;
  height:16px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:548px;
  width:91px;
  height:16px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:548px;
  width:91px;
  height:16px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:170px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:204px;
  width:164px;
  height:170px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:397px;
  width:140px;
  height:40px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:468px;
  width:140px;
  height:40px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:548px;
  width:91px;
  height:16px;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:170px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:204px;
  width:164px;
  height:170px;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:397px;
  width:140px;
  height:40px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:468px;
  width:140px;
  height:40px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:548px;
  width:91px;
  height:16px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:170px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:204px;
  width:164px;
  height:170px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:397px;
  width:140px;
  height:40px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:468px;
  width:140px;
  height:40px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:548px;
  width:91px;
  height:16px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:62px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:62px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 0, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:9px;
  width:99px;
  height:40px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:9px;
  width:300px;
  height:37px;
}
#u894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:37px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:9px;
  width:42px;
  height:37px;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:9px;
  width:29px;
  height:37px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:9px;
  width:73px;
  height:37px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:12px;
  width:114px;
  height:38px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:9px;
  width:47px;
  height:40px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
  text-align:center;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:9px;
  width:150px;
  height:37px;
  color:#0066FF;
  text-align:center;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:799px;
  width:1440px;
  height:50px;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:805px;
  width:37px;
  height:38px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:805px;
  width:150px;
  height:38px;
  text-align:center;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:150px;
  word-wrap:break-word;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:46px;
  width:136px;
  height:150px;
}
#u905_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:150px;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
  text-align:left;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:136px;
  height:30px;
  text-align:left;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:136px;
  height:30px;
  text-align:left;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:136px;
  height:30px;
  text-align:left;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:136px;
  height:30px;
  text-align:left;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:9px;
  width:45px;
  height:37px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:59px;
  width:156px;
  height:258px;
}
#u913_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:258px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:258px;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:156px;
  height:33px;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:156px;
  height:30px;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:156px;
  height:33px;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:156px;
  height:33px;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:159px;
  width:156px;
  height:33px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:156px;
  height:33px;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:156px;
  height:33px;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
