<div class="container d-table" ng-controller="AuthenticationCtrl">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mx-2">
                    <div class="card-block p-2 text-md-center">
                        <h1>Two Authentication</h1>
                        <p class="text-muted">Scan QRcode to login</p>
                        <div class="card-inverse py-3 hidden-md-down" id="qrcode">

                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-facebook" type="button">
                                    <span>facebook</span>
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-twitter" type="button">
                                    <span>twitter</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>