body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:62px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:62px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 0, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:9px;
  width:99px;
  height:40px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:9px;
  width:99px;
  height:40px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:9px;
  width:300px;
  height:37px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:37px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:9px;
  width:42px;
  height:37px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:12px;
  width:114px;
  height:38px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:9px;
  width:29px;
  height:37px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:9px;
  width:73px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:799px;
  width:1440px;
  height:50px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:805px;
  width:37px;
  height:38px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:805px;
  width:150px;
  height:38px;
  text-align:center;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:150px;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:46px;
  width:136px;
  height:120px;
}
#u52_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:120px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:120px;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
  text-align:left;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:136px;
  height:30px;
  text-align:left;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:136px;
  height:30px;
  text-align:left;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:136px;
  height:30px;
  text-align:left;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:82px;
  width:258px;
  height:43px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:372px;
  width:300px;
  height:41px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:304px;
  width:300px;
  height:41px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:444px;
  width:300px;
  height:41px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:514px;
  width:300px;
  height:41px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:588px;
  width:100px;
  height:22px;
  font-size:18px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u63_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:588px;
  width:100px;
  height:22px;
  font-size:18px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u64_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:44px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:658px;
  width:168px;
  height:44px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:372px;
  width:45px;
  height:41px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:304px;
  width:45px;
  height:41px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:444px;
  width:45px;
  height:41px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:514px;
  width:45px;
  height:41px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:578px;
  width:45px;
  height:41px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:658px;
  width:159px;
  height:44px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:738px;
  width:192px;
  height:28px;
  font-size:24px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:736px;
  width:128px;
  height:32px;
  font-size:24px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  white-space:nowrap;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 89, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:147px;
  width:292px;
  height:40px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:205px;
  width:292px;
  height:40px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:147px;
  width:45px;
  height:40px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:205px;
  width:45px;
  height:40px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:265px;
  width:347px;
  height:16px;
  text-align:center;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  word-wrap:break-word;
}
