body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:211px;
  width:521px;
  height:170px;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:222px;
  width:197px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:268px;
  width:50px;
  height:16px;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:263px;
  width:423px;
  height:25px;
}
#u1232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:1313px;
  top:298px;
  width:107px;
  height:40px;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u1234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:412px;
  width:521px;
  height:122px;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:150px;
  width:300px;
  height:22px;
}
#u1235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1235_input:disabled {
  color:grayText;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:150px;
  width:22px;
  height:22px;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:150px;
  width:22px;
  height:22px;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:541px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:211px;
  width:832px;
  height:541px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:228px;
  width:67px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:260px;
  width:798px;
  height:28px;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:301px;
  width:22px;
  height:22px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:298px;
  width:22px;
  height:22px;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:298px;
  width:528px;
  height:25px;
}
#u1243_input {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:291px;
  width:116px;
  height:40px;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u1245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:228px;
  width:22px;
  height:22px;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:301px;
  width:25px;
  height:16px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:301px;
  width:25px;
  height:16px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:251px;
  width:281px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:143px;
  width:140px;
  height:40px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:359px;
  width:98px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:399px;
  width:798px;
  height:343px;
}
#u1251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:343px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:62px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:62px;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 0, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:9px;
  width:99px;
  height:40px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:9px;
  width:300px;
  height:37px;
}
#u1255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:37px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:9px;
  width:42px;
  height:37px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:9px;
  width:29px;
  height:37px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:9px;
  width:73px;
  height:37px;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:12px;
  width:114px;
  height:38px;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:9px;
  width:47px;
  height:40px;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
  text-align:center;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:9px;
  width:150px;
  height:37px;
  color:#0066FF;
  text-align:center;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:799px;
  width:1440px;
  height:50px;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:805px;
  width:37px;
  height:38px;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:805px;
  width:150px;
  height:38px;
  text-align:center;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:150px;
  word-wrap:break-word;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:46px;
  width:136px;
  height:150px;
}
#u1266_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:150px;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
  text-align:left;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:136px;
  height:30px;
  text-align:left;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:136px;
  height:30px;
  text-align:left;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:136px;
  height:30px;
  text-align:left;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:136px;
  height:30px;
  text-align:left;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:9px;
  width:45px;
  height:37px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:59px;
  width:156px;
  height:258px;
}
#u1274_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:258px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:258px;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:156px;
  height:33px;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:156px;
  height:30px;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:156px;
  height:33px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:156px;
  height:33px;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:159px;
  width:156px;
  height:33px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:156px;
  height:33px;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:156px;
  height:33px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u1284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:423px;
  width:231px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:461px;
  width:140px;
  height:40px;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:461px;
  width:140px;
  height:40px;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:1254px;
  top:461px;
  width:140px;
  height:40px;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:712px;
  width:140px;
  height:40px;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
