<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,               Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <dataConfiguration defaultDatabase="QLGiaiBong" />
  <connectionStrings>
    <add name="QLGiaiBong" connectionString="Data Source=HOCHNT\HOCHNT;Initial Catalog=QUANLYGIAIBONGDA;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QuanLyGiaiBongDa.Properties.Settings.QUANLYGIAIBONGDAConnectionString1" connectionString="Data Source=HOCHNT\HOCHNT;Initial Catalog=QUANLYGIAIBONGDA;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity>
    <!-- [Interface] -->
    <alias alias="ISCLG010" type="QuanLyGiaiBongDa.Dao.ISCLG010, QuanLyGiaiBongDa" />
    <alias alias="ISCLG011" type="QuanLyGiaiBongDa.Dao.ISCLG011, QuanLyGiaiBongDa" />
    <alias alias="ISCRC020" type="QuanLyGiaiBongDa.Dao.ISCRC020, QuanLyGiaiBongDa" />
    <alias alias="ISCRC030" type="QuanLyGiaiBongDa.Dao.ISCRC030, QuanLyGiaiBongDa" />
    <alias alias="ISCRC050" type="QuanLyGiaiBongDa.Dao.ISCRC050, QuanLyGiaiBongDa" />
    <alias alias="ISCRC051" type="QuanLyGiaiBongDa.Dao.ISCRC051, QuanLyGiaiBongDa" />
    <alias alias="ISCRC060" type="QuanLyGiaiBongDa.Dao.ISCRC060, QuanLyGiaiBongDa" />
    <alias alias="ISCRC070" type="QuanLyGiaiBongDa.Dao.ISCRC070, QuanLyGiaiBongDa" />
    <alias alias="ISCRC080" type="QuanLyGiaiBongDa.Dao.ISCRC080, QuanLyGiaiBongDa" />
    <alias alias="ISCED010" type="QuanLyGiaiBongDa.Dao.ISCED010, QuanLyGiaiBongDa" />
    <alias alias="ISCED020" type="QuanLyGiaiBongDa.Dao.ISCED020, QuanLyGiaiBongDa" />
    <alias alias="ISCED030" type="QuanLyGiaiBongDa.Dao.ISCED030, QuanLyGiaiBongDa" />
    <alias alias="ISCED040" type="QuanLyGiaiBongDa.Dao.ISCED040, QuanLyGiaiBongDa" />
    <alias alias="ISCED050" type="QuanLyGiaiBongDa.Dao.ISCED050, QuanLyGiaiBongDa" />
    <alias alias="ISCED060" type="QuanLyGiaiBongDa.Dao.ISCED060, QuanLyGiaiBongDa" />
    <alias alias="ISCED070" type="QuanLyGiaiBongDa.Dao.ISCED070, QuanLyGiaiBongDa" />
    <alias alias="ISCED080" type="QuanLyGiaiBongDa.Dao.ISCED080, QuanLyGiaiBongDa" />


    <!-- [Impliment] -->
    <alias alias="Login" type="QuanLyGiaiBongDa.Dao.Impl.SCLG010Impl, QuanLyGiaiBongDa" />
    <alias alias="SCLG011Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCLG011Impl, QuanLyGiaiBongDa" />
    <alias alias="SCRC020Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCRC020Impl, QuanLyGiaiBongDa" />
    <alias alias="SCRC030Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCRC030Impl, QuanLyGiaiBongDa" />
    <alias alias="SCRC050Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCRC050Impl, QuanLyGiaiBongDa" />
    <alias alias="SCRC051Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCRC051Impl, QuanLyGiaiBongDa" />
    <alias alias="SCRC060Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCRC060Impl, QuanLyGiaiBongDa" />
    <alias alias="SCRC070Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCRC070Impl, QuanLyGiaiBongDa" />
    <alias alias="SCRC080Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCRC080Impl, QuanLyGiaiBongDa" />
    <alias alias="SCED010Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCED010Impl, QuanLyGiaiBongDa" />
    <alias alias="SCED020Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCED020Impl, QuanLyGiaiBongDa" />
    <alias alias="SCED030Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCED030Impl, QuanLyGiaiBongDa" />
    <alias alias="SCED040Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCED040Impl, QuanLyGiaiBongDa" />
    <alias alias="SCED050Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCED050Impl, QuanLyGiaiBongDa" />
    <alias alias="SCED060Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCED060Impl, QuanLyGiaiBongDa" />
    <alias alias="SCED070Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCED070Impl, QuanLyGiaiBongDa" />
    <alias alias="SCED080Impl" type="QuanLyGiaiBongDa.Dao.Impl.SCED080Impl, QuanLyGiaiBongDa" />


    <container>
      <register type="ISCLG010" mapTo="Login" />
      <register type="ISCLG011" mapTo="SCLG011Impl" />
      <register type="ISCRC020" mapTo="SCRC020Impl" />
      <register type="ISCRC030" mapTo="SCRC030Impl" />
      <register type="ISCRC050" mapTo="SCRC050Impl" />
      <register type="ISCRC051" mapTo="SCRC051Impl" />
      <register type="ISCRC060" mapTo="SCRC060Impl" />
      <register type="ISCRC070" mapTo="SCRC070Impl" />
      <register type="ISCRC080" mapTo="SCRC080Impl" />
      <register type="ISCED010" mapTo="SCED010Impl" />
      <register type="ISCED020" mapTo="SCED020Impl" />
      <register type="ISCED030" mapTo="SCED030Impl" />
      <register type="ISCED040" mapTo="SCED040Impl" />
      <register type="ISCED050" mapTo="SCED050Impl" />
      <register type="ISCED060" mapTo="SCED060Impl" />
      <register type="ISCED070" mapTo="SCED070Impl" />
      <register type="ISCED080" mapTo="SCED080Impl" />

    </container>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Build.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <log4net>
    <appender name="TestAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\..\log\AppLog.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="TestAppender" />
    </root>
  </log4net>
</configuration>